@page
@using CowboyCafe.Data;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //throw new Exception("Testing...");
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cowboy Cafe!!</h1>
    <p>We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.</p>
</div>


<form id="menu-search">

    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search">
    </div>

    <div id="filters">

        <h4>Type of Order</h4>
        @foreach (String type in Menu.Types)
        {
            <label>
                <input type="checkbox" name="Types" value="@type" checked="@Model.Types?.Contains(type)" />
                @type
            </label>
        }

        <h4>Price</h4>
        <div>
            Between
            <input name="PriceMin" type="number" min="0" max="100" step="0.01" placeholder="min" value="@Model.PriceMin" />
            and
            <input name="PriceMax" type="number" min="0" max="100" step="0.01" placeholder="max" value="@Model.PriceMax"/>
        </div>

        <h4>Calories</h4>
        <div>
            Between
            <input name="CaloriesMin" type="number" min="0" max="1000" step="1" placeholder="min" value="@Model.CaloriesMin" />
            and
            <input name="CaloriesMax" type="number" min="0" max="1000" step="1" placeholder="max" values="@Model.CaloriesMax"/>
        </div>

    </div>

    <div id="results" class="results">
        <h1>Menu: </h1>
        <div class="menu-list">
            @foreach (IOrderItem item in @Model.Items)
            {
                @if (item is Entree)
                {
                    <div class="entrees"> Entrees </div>
                    <div class="menu-item">
                        <div class="name">@item.ToString()</div>
                        <div class="prices">Price: @item.Price</div>
                        <div class="calories">Calories: @item.Calories</div>
                    </div>
                }

                @if (item is Side)
                {
                    <div class="sides"> Sides </div>
                        <div class="menu-item">
                            <div class="name">@item.ToString()</div>
                            <div class="prices">Price: @item.Price</div>
                            <div class="calories">Calories: @item.Calories</div>
                        </div>
                }

                @if (item is Drink)
                {
                    <div class="drinks"> Drinks </div>
                        <div class="menu-item">
                            <div class="name">@item.ToString()</div>
                            <div class="prices">Price: @item.Price</div>
                            <div class="calories">Calories: @item.Calories</div>
                        </div>
                }
            }


        </div>
    </div>

</form>